.purple-swiper .swiper-pagination-bullet {
    background-color: #8A56A3; /* Tailwind's purple-500 */
    opacity: 0.3;
    transition: opacity 0.3s;
}

.purple-swiper .swiper-pagination-bullet-active {
    background-color: #8A56A3;
    opacity: 1;
}