.orare-body-container {
    /*width: 98vw;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orare-content-container {
    width: 90vw;
    min-width: 380px;
    padding: 20px;
    flex-direction: column;
    display: flex;
}

.orare-search-button {
    background-color: purple;
}

.orare-search-button:hover {
    background-color: indigo;   
}

.orare-cell {
    display: flex;
    align-items: center;
    width: 90vw;
    background-color: #F5F6F8;
    border-radius: 5px;
    min-height: 5vh;
    padding: 10px;
    margin: 5px;
    translate: 0 -15px;
}

.orare-cell-badge {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    width: 70px; /* Fixed width for consistency */
    padding: 3px 5px;
    border-radius: 5px; /* Rounded corners */
    color: white;
    justify-content: flex-start; /* Icon stays on the left */
    position: relative; /* Allows centering of text */
    margin-right: 10px;
    /*z-index: 5;*/
}

.orare-cell-badge-icon {
    filter: brightness(0) invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orare-cell-badge-text {
    flex-grow: 1; /* Makes text take available space */
    text-align: center; /* Centers text */
    margin-left: 5px;
}
.orare-cell:hover {
    cursor: pointer;
}

.orare-content-header {
    width: 100%;
    color: white;
    background-image: url("../Images/mapImage.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    padding: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orare-content-header::before {
    background-color: rgba(90, 38, 104, 0.8); /* Deep purple with 80% opacity */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.orare-content-header > * {
    position: relative; /* Ensure content is above the pseudo-element */
    z-index: 1; /* Bring content to the front */
}

.orare-filter {
    width: 100%;
    background-color: #F5F8F7;
    border-radius: 10px 10px 0 0;
    height: 10vh;
    translate: 0 -20px;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.orare-filter-button {
    margin: 5px 0 5px 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.orare-filter-button-icon {
    margin-right: 5px;
}

.autobuz {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(1124%) hue-rotate(237deg) brightness(85%) contrast(87%);
}

.troleibuz{
    filter: brightness(0) saturate(100%) invert(61%) sepia(11%) saturate(5402%) hue-rotate(187deg) brightness(93%) contrast(94%);
}

.tramvai {
    filter: brightness(0) saturate(100%) invert(51%) sepia(95%) saturate(300%) hue-rotate(107deg) brightness(96%) contrast(89%);
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
}

.active-selection {
    border-radius: 5px;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 10px;
}

.autobuze {
    background-color: #905EA8;
}

.microbuze {
    background-color: #905EA8;
}

.troleibuze {
    background-color: #2D8CFF;
}

.tramvaie {
    background-color: #0FBE7E;
}