.orare-body-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orare-content-container {
    width: 80vw;
    min-width: 380px;
    /* height: 85vh; */
    background-color: white;
    padding: 20px;
}

.orare-search-button {
    background-color: purple;
}

.orare-search-button:hover {
    background-color: indigo;   
}

.orare-cell {
    padding-top: -10px;
    padding-bottom: -10px;
}

.orare-cell:hover {
    cursor: pointer;
}

.orare-orareo-container {
    flex-direction: column;
    display: flex;
}

.orare-news-container {
    flex-direction: column;
    display: flex;
}