.stiri-content {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stiri-content::-webkit-scrollbar { 
    display: none;
}

.stiri-card {
    width: 18rem;
    height: 15rem;
}

a {
    color: purple;
}