.marker {
  display: grid;
  align-items: center;
  font-size: 14px;
  width: max-content;
  height: 30px;
  color: white;
  background-color: purple;
  border-radius: 5px;
  padding: 5px;
}

.marker-linie-favorita {
  display: grid;
  align-items: center;
  font-size: 14px;
  width: max-content;
  height: 30px;
  color: white;
  background-color: indigo;
  border-radius: 5px;
  padding: 5px;
}

.marker-linie-urmarita {
  display: grid;
  align-items: center;
  font-size: 14px;
  width: max-content;
  height: 30px;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
}

.marker-invisible {
  visibility: hidden;
}

.marker-visible {
  visibility: visible;
}